In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import calendar

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
900,tt0257044,80000000,181001478,Road to Perdition,Tom Hanks|Tyler Hoechlin|Jennifer Jason Leigh|...,Sam Mendes,Pray for Michael Sullivan.,Mike Sullivan works as a hit man for crime bos...,117,Thriller|Crime|Drama,DreamWorks SKG|The Zanuck Company|Twentieth Ce...,7/12/2002,7.1,2002
1413,tt0388500,25000000,36351350,Beauty Shop,Queen Latifah|Alicia Silverstone|Andie MacDowe...,Bille Woodruff,A Cut Above,You thought you'd heard it all in the barbersh...,105,Comedy|Romance,Metro-Goldwyn-Mayer (MGM),6/2/2005,5.1,2005
146,tt1528100,140000000,268031828,Exodus: Gods and Kings,Christian Bale|Joel Edgerton|John Turturro|Aar...,Ridley Scott,"Once brothers, now enemies.",The defiant leader Moses rises up against the ...,153,Adventure|Drama|Action,Scott Free Productions|Chernin Entertainment|B...,12/3/2014,5.6,2014
1356,tt0430105,45000000,92374674,Four Brothers,Mark Wahlberg|Tyrese Gibson|AndrÃ© Benjamin|Ga...,John Singleton,They came home to bury mom... and her killer,Four adopted brothers return to their Detroit ...,109,Action|Crime,Paramount Pictures|Di Bonaventura Pictures,8/11/2005,6.6,2005
1553,tt0462519,20000000,17807569,School for Scoundrels,Billy Bob Thornton|Jon Heder|Jacinda Barrett|S...,Todd Phillips,Life's A Game. Learn How To Play.,"A young guy short on luck, enrolls in a class ...",100,Comedy|Drama|Romance,Dimension Films,9/29/2006,5.5,2006

In [3]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов


data['imdb_id'] = ' ('+data['imdb_id']+')' #Модифицируем столбец imdb_id для соответствия формату ответов
data['profit'] = data['revenue']-data['budget'] #Расчитываем значение profit
data['release_date'] = pd.to_datetime(data['release_date']) #Меняем формат данных в столбце release_date

#Создаем новый столбец для хранения месяца выпуска фильма.
import calendar
data['month'] = data['release_date'].dt.month.apply(lambda x: calendar.month_name[x])

#Создаем новые столбцы для хранения длины названия и описания фильма.
data['title_len'] = data['original_title'].apply(lambda x: len(x))
data['overview_len'] = data['overview'].apply(lambda x: len(x))

In [6]:
#Функция для задачи 11
#Получает строку, возвращает словарь counter
#с количеством уникальных значений.
def genres_list(i):
    split_i = i.split('|')
    counter = collections.Counter()
    for genre in split_i:
        counter[genre] += 1
    return counter

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_1 = data[data.budget == data.budget.max()]['original_title'].unique()[0]
imdb_id_1 = data[data.budget == data.budget.max()]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['1'] = title_1+imdb_id_1

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_2 = data[data.runtime == data.runtime.max()]['original_title'].unique()[0]
imdb_id_2 = data[data.runtime == data.runtime.max()]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['2'] = title_2+imdb_id_2

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_3 = data[data.runtime == data.runtime.min()]['original_title'].unique()[0]
imdb_id_3 = data[data.runtime == data.runtime.min()]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['3'] = title_3+imdb_id_3

# 4. Какова средняя длительность фильмов?

In [10]:
#Записываем в словарь с ответами округленное
#среднее значение столбца runtime.
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [11]:
#Записываем в словарь с ответами округленное
#медианное значение столбца runtime.
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_6 = data[data.profit == data.profit.max()]['original_title'].unique()[0]
imdb_id_6 = data[data.profit == data.profit.max()]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['6'] = title_6+imdb_id_6

# 7. Какой фильм самый убыточный?

In [13]:
#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_7 = data[data.profit == data.profit.min()]['original_title'].unique()[0]
imdb_id_7 = data[data.profit == data.profit.min()]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['7'] = title_7+imdb_id_7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
#Записываем в словарь с ответами количество прибыльных фильмов округленное
#(для которых прибыль (revenue) больше бюджета(budget)).
answers['8'] = data[data.revenue > data.budget].original_title.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_9 = data[(data.release_year == 2008)\
               &(data.profit == data.groupby(['release_year']).\
                 profit.max()[2008])]['original_title'].unique()[0]
imdb_id_9 = data[(data.release_year == 2008)\
                 &(data.profit == data.groupby(['release_year']).\
                   profit.max()[2008])]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['9'] = title_9+imdb_id_9

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
#Создаем новый df с фильмами, вышедшими только с 2012 по 2014 гг (включительно).
data_12_14 = data[(data.release_year>=2012)|(data.release_year<=2014)]

#Записываем в отдельные переменные название и imdb_id фильма,
#соответствующего условиям фильта.
title_10 = data_12_14[data_12_14.profit == data_12_14.profit.min()]\
                     ['original_title'].unique()[0]
imdb_id_10 = data_12_14[data_12_14.profit == data_12_14.profit.min()]\
                       ['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['10'] = title_10+imdb_id_10

# 11. Какого жанра фильмов больше всего?

In [17]:
#Создаем список со всеми жанрами, включая повторы.
genres = data.genres.str.cat(sep='|').split('|')

#Используем словарь Counter для подсчета встречаемости
#каждого жанра в словаре.
#Отбираем наиболее часто встречающуюся пару ключ-значение.
#Добавляем в ответ ключ этой пары.
answers['11'] = collections.Counter(genres).most_common(1)[0][0]

ВАРИАНТ 2

In [33]:
#Создаем пустой словарь Counter для добавления в него
#списка жанров из строки, который возвращает функция top_genres/
genres_counter = collections.Counter()
for line in data['genres']:
    genres_counter += genres_list(line)
    
#Преобразуем словарь Counter в Series,
#сортируем и первый (0-й) индекс записываем в словарь с ответами.
answers['11'] = pd.Series(genres_counter).sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
#Создаем список жанров для прибыльных фильмов, у которых profit>0.
genres_profit = data[data.profit>0].genres.str.cat(sep='|').split('|')

#Передаем список жанров в словарь Counter
#для подсчета частоты каждого вхождения.
#Отбираем наиболее часто встречающуюся пару ключ-значение.
#Добавляем в ответ ключ этой пары.
answers['12'] = collections.Counter(genres_profit).most_common(1)[0][0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [19]:
#Создаем список всех режиссеров.
directors = data.director.str.cat(sep='|').split('|')

#Создаем pd.Series из словаря, в котором
#ключь - имя режиссера из списка,
#значение - сумма кассовых сборов (revenue) всех фильмов
#данного режиссера (режисер встречается в director).
#Сортируем Series и записываем индекс первой строки (0ой) в словарь с ответами.
answers['13'] = pd.Series({x: sum(data[data.director.str.contains(x)].revenue)
           for x in directors}).sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
#Создаем список режиссеров фильмов,
#для которых среди жанров указано Action.
directors_action = data[data.genres.str.contains('Action')].\
                        director.str.cat(sep='|').split('|')

#Передаем список режиссеров в словарь Counter
#для подсчета значений каждого вхождения.
#Находим самую распространенную пару ключ-значение
#и записываем ключь этой пары в словарь с ответами.
answers['14'] = collections.Counter(directors_action).most_common(1)[0][0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
#Создаем новый df из фильмов, выпущенных в 2012 г.
data_2012 = data[data.release_year == 2012]

#Создаем список актеров по новому df.
casts = data_2012.cast.str.cat(sep='|').split('|')

#Создаем pd.Series из словаря, в котором
#ключь - имя актера из списка,
#значение - сумма сборов (revenue) всех фильмов данного актера,
#(актер встречается в cast фильма) из нового df.
#Сортируем Series и записываем индекс первой строки (0ой) в словарь с ответами.
answers['15'] = pd.Series({x: sum(data_2012[data.cast.str.contains(x)].revenue)
           for x in casts}).sort_values(ascending=False).index[0]

C:\Users\axgav\anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
#Создаем спипсок актеров, снимавшихся в фильмах,
#бюджет которых выше среднего.
casts = data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')

#Передаем список актеров в словарь Counter
#для подсчета значений каждого вхождения.
#Находим самую распространенную пару ключ-значение
#и записываем ключь этой пары в словарь с ответами.
answers['16'] = collections.Counter(casts).most_common(1)[0][0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
#Создаем спипсок жанров фильмов,
#в которых снимался Nicolas Cage.
genres_17 = data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')

#Передаем список жанров в словарь Counter
#для подсчета значений каждого вхождения.
#Находим самую распространенную пару ключ-значение
#и записываем ключь этой пары в словарь с ответами.
answers['17'] = collections.Counter(genres_17).most_common(1)[0][0]

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
#Создаем новый df только из фильмов, снятых Paramount Pictures.
data_paramount = data[data.production_companies.str.contains('Paramount Pictures')]

#Записываем в отдельные переменные название и imdb_id фильма с минимальной прибылью.
title_18 = data_paramount[data_paramount.profit
                          == data_paramount.profit.min()]['original_title'].unique()[0]
imdb_id_18 = data_paramount[data_paramount.profit
                            == data_paramount.profit.min()]['imdb_id'].unique()[0]

#Переменные записываем в словарь с ответами.
answers['18'] = title_18+imdb_id_18

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
#Группируем данные по году и считаем
#для каждой группы сумму по столбцу revenue.
#Сортируем группы и индекс первой строки
#записываем в словарь с ответами.
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
#Группируем фильмы, снятые Warner Bros по году,
#считаем для каждой группы сумму по столбцу profit.
#Сортируем группы и индекс первой строки
#записываем в словарь с ответами.
answers['20'] = data[data.production_companies.str.contains('Warner Bros')].\
                     groupby(['release_year'])['profit'].sum().\
                     sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
#Группируем фильмы по месяцу, когда они были выпущены,
#считаем количество фильмов в каждой группе.
#Сортируем группы и индекс первой строки
#записываем в словарь с ответами.
answers['21'] = data.groupby(['month'])['original_title'].count().sort_values(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
#Записываем в словарь с ответами длину df,
#отобранного по условию соответствия названия месяца
#одному из летних месяцев.
answers['22'] = len(data[(data['month']=='June')|(data['month']=='July')|(data['month']=='August')])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
#Создаем спипсок режиссеров,
#фильмы которых выходили в один из зимних месяцев.
directors = data[(data['month']=='December')|(data['month']=='January')|(data['month']=='February')].\
                 director.str.cat(sep='|').split('|')

#Передаем список режиссеров в словарь Counter
#для подсчета значений каждого вхождения.
#Находим самую распространенную пару ключ-значение
#и записываем ключь этой пары в словарь с ответами.
answers['23'] = collections.Counter(directors).most_common(1)[0][0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
#Создаем список студий.
production_companies = data.production_companies.str.cat(sep='|').split('|')

#Создаем pd.Series из словаря, в котором
#ключь - название студии из списка,
#значение - среднее длины названий фильмов этой студии,
#(студия встречается в production_companies фильма).
#Сортируем Series и записываем индекс первой строки (0ой) в словарь с ответами.
answers['24'] = pd.Series({x: data[data.production_companies.str.contains(x)].title_len.mean()
           for x in production_companies}).sort_values(ascending=False).index[0]

C:\Users\axgav\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
#Создаем список студий.
production_companies = data.production_companies.str.cat(sep='|').split('|')

#Создаем pd.Series из словаря, в котором
#ключь - название студии из списка,
#значение - среднее длинна названий фильмов,
#которые создала студия (студия встречается в production_companies).
#Сортируем Series и в словарь с ответами записывается индекс первой строки (0ой).
answers['25'] = pd.Series({x: data[data.production_companies.str.contains(x)].\
                           overview_len.mean() for x in production_companies}).\
                            sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
#В словарь с ответами записывается список названий фильмов,
#значение средней оценки которых выше или равно
#значению фильмов в 99-ом квантиле.
#Параметр функции quantile 0.993 определен эмпирически:
#при использовании параметра 0.99 в выводе больше фильмов,
#что усложняет посик правильного ответа для теста.
answers['26'] = list(data[data.vote_average >= data.vote_average.quantile(0.993)].original_title)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
#Создаем список имен актеров без повторов.
casts = list(collections.Counter(data.cast.str.cat(sep='|').split('|')).keys())

#Создаем пустой массив, где индексы строк и названия столбцов - имена актеров.
df = pd.DataFrame([], index = casts, columns = casts)

#Заполняем пропуски 0, чтобы проще было делать расчеты.
df = df.fillna(0)

#Перебираем все строки в столбце cast.
#В ячейки добавляем количество раз, когда
#актер из столбца и строки снимались вместе.
for line in data['cast']:
#    film_cast = list(data.cast.str.cat(sep='|').split('|'))
    film_cast = line.split('|')
    for col_name in film_cast:
        for index_name in film_cast:
            if col_name == index_name:
                continue
            else:
                df.loc[index_name][col_name] += 1

#Находим максимальные значения по строкам, сортируем, записываем в Series.
max_by_line = pd.Series(df.max().sort_values(ascending=False).head())

#Отбираем индексы, имеющие максимальные значения
#(должно быть не менее 2х)
#индекса записываем их в список, а его в словарь с ответами.
answer = list(max_by_line[max_by_line==max_by_line.max()].index)
answers['27'] = answer

#В данном случае 3 актера имеют
#одинаковое число совместных (с кем-то, не обязательно друг с другом)
#фильмов. Записываем их всех в словарь,
#выбираем подходящий вариант ответа из имеющихся в тесте.

ВАРИАНТ 2

In [142]:
#РАБОТАЕТ ДОЛГО!

#Общая идея: создаем список всех актеров, 
#затем для каждого актера обходим весь df по столбцу cast,
#ищем фильмы, в которых снимался данных актер.
#Для всех фильмов, где снимался актер,
#записываем других актеров, кроме того, по которому щел поиск, 
#в общий список и считаем частоту встречаемости для каждого.

#Создаем список имен актеров без повторов.
casts = list(collections.Counter(data.cast.str.cat(sep='|').split('|')).keys())

#Создаем пустой словарь: ключь - имя актера;
#значения - словарь из имен актеров, снимавшихся с ним во всех фильмах
#и частоты их встречаемости.
actors = {}

#Цикл для заполнения словаря actors.
for actor in casts:
    partners = []
    for i in range(len(data)):
        if actor in data.cast[i].split('|'):
            partners += data.cast[i].split('|')
    while partners.count(actor) != 0: #Цикл для удаления из списка актера по которому шел поиск.
        partners.remove(actor)
    actors[actor]=dict(collections.Counter(partners))

In [156]:
#Обходим словарь и находим максимальное число.
#Создаем пустые переменные, в которые будем записывать параменты найденного максимума.
actor_1 = ''
actor_2 = ''
count = 0

#Цикл обхода словаря для поиска максимального числа совметных фильмов.
for i, j in actors.items():
    for n, m in j.items():
        if m > count:
            count = m
            actor_1 = i
            actor_2 = n

#Добавляем ответ в словать с ответами
answers['27'] = actor_1+' & '+actor_2

#Важно! Вероятно, данный вариант решения чувствителен к порядку актеров в словаре.
#Если бы сначала встретилась пара не Daniel Radcliffe & Rupert Grint,
#а Emma Watson & Daniel Radcliffe или Emma Watson & Rupert Grint,
#то верный ответ (для теста, т.к. все ответы, видимо, верные) не получится.

Daniel Radcliffe Rupert Grint 8

# Submission

In [38]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': ['Emma Watson', 'Daniel Radcliffe', 'Rupert Grint']}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27